body{
    padding:0;
    margin:0;
}
/* Header styles */
header>h1{
    padding-top:5px;
    margin:0;
}
header,nav,ul,li{
    text-align: center;
    padding:5px;
    margin:0;
    background-color: black;
    color:white;
}
ul>li{
    display: inline-block;
    padding:5px;
    margin:0;
    cursor:pointer;
}
ul li:hover{
    color:darkblue;
}
/* Main styles */
.main{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top:20px;
}
.receipes{
    width:210px;
    height:300px; 
    border: 2px solid black;
    padding:3px;
    margin:5px;
    text-align: center;
}

/* footer styles */
footer{
    background-color: black;
    color:white;
}
footer>h1{
    text-align:center;
    padding:3px 25px 0px 45px;
    text-align: center;
}
footer>form{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
     background-color: yellow;
     cursor:pointer;
     padding:5px 75px;
     margin-left:550px;
     margin-bottom: 5px;
}
